.footer__nav-item {
  margin: 0 19px 0 0;
}

.footer__nav-item:last-child {
  margin-right: 0;
}

@media screen  and (max-width: 767px) {

  .footer__nav-item {
    margin-bottom: 31px;
  }

  .footer__nav-item:last-child {
    margin-bottom: 0;
  }

}
