.place {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 46.9% 1fr;
  column-gap: 38px;
  row-gap: 47px;
  max-width: 985px;
  margin: 0 auto 79px;
}

.place:last-child {
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {

  .place {
    grid-template-columns: 47.3% 1fr;
    column-gap: 33px;
    row-gap: 49px;
    padding: 0 48px;
  }

}

@media screen and (max-width: 1023px) {

  .place {
    max-width: 100%;
    margin: 0 auto 71px;
    padding: 0 24px;
    column-gap: 28px;
    row-gap: 46px;
  }

}

@media screen and (max-width: 767px) {

  .place {
    grid-template-columns: 1fr;
    max-width: 460px;
    margin: 2px auto 48px;
    padding: 0;
    row-gap: 30px;
  }

}
