.place__website {
  align-self: end;
  position: relative;
  width: fit-content;
  height: fit-content;
  margin-bottom: -3px;
  border-bottom: 1px solid #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.place__website::before {
  position: absolute;
  top: -25px;
  border: none;
  content: 'URL';
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2px;
  color: #aaaaaa;
  cursor: default;
  pointer-events: none;
}

@media screen and (max-width: 1023px) {

  .place__website {
    margin: 0;
  }

}

@media screen and (max-width: 767px) {

  .place__website {
    margin: 26px 0 0 16px;
  }

}
