.intro__title {
  max-width: 100%;
  margin: 0;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  color: #ffffff;
}

@media screen and (max-width: 767px) {

  .intro__title {
    max-width: 72%;
    font-size: 32px;
    line-height: 35px;
  }

}
